* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

/********Header********/

.nav-link {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-left: 5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.common-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
    width: 30rem;
    background: #C8191C;
    text-align: center;
    padding: 1.6rem 0;
}

.main-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
}

.sub-title {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;

}


/**********hero************/

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
}

#hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: url(../images/herobanner.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;
    opacity: 0.2;
}

.hero-data {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    z-index: 9;
}

.hero-data h1 {
    padding-top: 41rem;
    font-weight: 700;
    font-size: 13rem;
    line-height: 16rem;
}

.hero-data h1 span {
    color: #C8191C;
}

.hero-data p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    max-width: 90.6rem;
    margin: 0 auto;
    padding: 5.5rem 0;
}

/***************************************************/
/************************About**********************/
#about {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;
}

.about-img-data {
    padding-top: 20rem;
}

.about img {
    margin: 0 auto;
    padding-bottom: 2rem;
}

.about h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    color: #FFFFFF;
}

.about-img {
    border-right: 2px solid #FFFFFF;
}

.about-img p {
    width: 54.1rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    padding-top: 10rem;
}

.about-data {
    padding-left: 11.5rem;
}

.about-data .sub-title {
    padding-top: 1.8rem;
    padding-bottom: 10.5rem;
}

/***********************Super*********************/
#super {
    padding-top: 20rem;
    background: linear-gradient(180deg, #000000 37.37%, #C8191C 231.27%);
}
.super-data h2, .super-img h2 {
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
    padding-bottom: 11.5rem;
}
.super-data p {
    width: 48.5rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}
.team-img {
    padding-bottom: 10rem;
}
.col-lg-3 img{
    width: 22.4rem;
}






/************************************************/











@media screen and (min-width:1800px) {
    .container {
        max-width: 170rem;

    }
}