* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

.common-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
    width: 30rem;
    background: #C8191C;
    text-align: center;
    padding: 1.6rem 0;
}

.main-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
    text-align: center;
}

.sub-title {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

/********Header********/

.nav-link {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-left: 5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



/**************************************************/
/*************************hero********************/

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
}

#hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: url(../images/herobanner.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;
    opacity: 0.2;
}

.hero-data {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    z-index: 9;
}

.hero-data h1 {
    padding-top: 41rem;
    font-weight: 700;
    font-size: 13rem;
    line-height: 16rem;
}

.hero-data h1 span {
    color: #C8191C;
}

.hero-data p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    max-width: 90.6rem;
    margin: 0 auto;
    padding: 5.5rem 0;
}

/***************************************************/
/************************About**********************/
#about {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;
}

.about-img-data {
    padding-top: 20rem;
}

.about img {
    margin: 0 auto;
    padding-bottom: 2rem;
}

.about h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    color: #FFFFFF;
}

.about-img {
    border-right: 2px solid #FFFFFF;
}

.about-img p {
    width: 54.1rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    padding-top: 10rem;
}

.about-data {
    padding-left: 11.5rem;
}

.about-data .main-title {
    text-align: left;
}

.about-data .sub-title {
    padding-top: 1.8rem;
    padding-bottom: 10.5rem;
    text-align: left;
}


/*************************************************/
/***********************Super*********************/
#super {
    padding-top: 20rem;
    background: linear-gradient(180deg, #000000 37.37%, #C8191C 231.27%);
}

.super-data h2,
.super-img h2 {
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
    padding-bottom: 11.5rem;
}

.super-data p {
    width: 48.5rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.team-img {
    padding-left: 8.8rem;
    padding-bottom: 10rem;
}

.col-lg-3 img {
    width: 22.4rem;
}

/************************************************/
/*********************service**********************/
#service {
    background: linear-gradient(0deg, #000000 37.37%, #C8191C 231.27%);
    padding-top: 20rem;
}

.service-data {
    border: 2px solid white;
    padding: 5rem 6rem;
}

#service .sub-title {
    padding-bottom: 10rem;
}

#service .row>* {
    padding-bottom: 15rem;
}

#service .row>*:nth-child(odd) {
    padding-right: 7.5rem;
    padding-left: 11.9rem;
}

#service .row>*:nth-child(even) {
    padding-left: 7.5rem;
    padding-right: 11.9rem;
}

.service-data h3 {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.service-data p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

/*********************************************************/
/*********************why*********************************/
#why {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    padding-top: 20rem;
}

#why .row>* {
    padding-bottom: 15rem;
}

#why .sub-title {
    padding-bottom: 17.2rem;
}

.why-data img {
    margin: 0 auto;
}

.why-data h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding: 3rem 0;
}

.why-data p {
    width: 39.5rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

/*************************************************************/
/**********************Horoscope******************************/
#horoscope {
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
    padding-top: 20rem;
}

#horoscope .sub-title {
    width: 105rem;
    margin: 0 auto;
    padding-bottom: 10rem;
}

#horoscope .first,
.second {
    padding-bottom: 10rem;
}

.horo-img {
    display: flex;
    margin-right: 8.6rem;

}

.horo-data {
    padding-left: 6rem;
}

.horo-data h3 {
    font-weight: 700;
    width: 20.7rem;
    font-size: 5.4rem;
    line-height: 7.3rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.horo-data p {
    font-weight: 400;
    width: 16.5rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    padding-bottom: 2.5rem;
}

.button {
    padding-bottom: 20rem;
}

.viewer-data h4 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #C8191C;
    padding-bottom: 0.2rem;
}

.viewer-data h2 {
    text-align: center;
    font-weight: 700;
    font-size: 10rem;
    line-height: 13.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

/************************************************************/
/*************************appointment****************************/
#appointment {
    background: linear-gradient(180deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;
}

#appointment .sub-title {

    text-align: left;
    width: 45.2rem;
}

#appointment .main-title {
    padding-top: 22.4rem;
    text-align: left;
}

.appointment {
    margin-right: 5rem;
}

#appointment h3 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 3rem;
}

#appointment input {
    align-items: center;
    outline: none;
    padding: 1rem 3rem;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
    width: 43.5rem;
    height: 10rem;
    align-items: center;
    background-color: #00000077;
    border: 2px solid #FFFFFF;
    margin-bottom: 8rem;

}

.dropdown-toggle {
    text-align: start;
    padding: 1rem 3rem;
    width: 43.5rem;
    height: 10rem;
    border: 2px solid #FFFFFF;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
}

.btn:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

#appointment .button {
    margin-top: 8rem;
}

/*********************************************************************/

/**************************membership********************************/
#membership {
    background: linear-gradient(0deg, #514242 -74.63%, #2E0A0A 38.7%, #000000 151.34%);
    width: 100%;
    height: 50.5rem;
    position: relative;
    z-index: 1;
}

#membership::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: url(../images/membership-banner.png);
    width: 100%;
    height: 100%;
    background-size: 90% auto;
    background-position: center center;

}

#membership h2 {
    font-weight: 700;
    font-size: 8.4rem;
    line-height: 11.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10rem;
}

#membership p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    color: #FFFFFF;
}

/********************************************************************/
/***************************Price************************************/
#price {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;
}

.price-data {
    border: 2px solid white;


}

#price .sub-title {
    padding-bottom: 8rem;
}

#price .row>* {
    padding: 0 5rem;
}

.price-data {
    padding: 6rem 7.7rem;
}

.price-data h4 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.price-data h2 {
    font-weight: 700;
    font-size: 7.2rem;
    line-height: 9.8rem;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

.price-data span {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.price-img {
    display: flex;
    padding-bottom: 2rem;

}

.price-img img {
    width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
    object-position: center center;

}

.price-img p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    padding: 1.2rem 0;
    padding-left: 2rem;
}

#price .common-btn {
    margin-top: 6rem;
}

.price-data:hover {
    background: #C8191C;
}

.price-data:hover .common-btn {
    background: #FFFFFF;
    color: #C8191C;
}

/*********************************************************************/
/**************************client*************************************/
#client {
    background: linear-gradient(180deg, #000000 36.84%, rgba(200, 25, 28, 0) 223.16%);
    padding-top: 20rem;
}

#client .sub-title {
    width: 144.6rem;
}

#client img {
    margin: 0 auto;
}

.client-slider {
    padding-bottom: 15rem;
}

#client img {
    padding-bottom: 10.9rem;
}

#client p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

#client h5 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;

}

@media screen and (min-width:1800px) {
    .container {
        max-width: 170rem;

    }
}